.experience_container h1{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-weight: 400;
    font-size: 2.5em;
    align-items: center;
    color: white;
}

.experience_container p{
    margin-top: 3em;
    color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
}
.icons{
    color: rgb(255, 255, 255);
    opacity: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.icons :hover{
    transition: .5s;
    color: red;
    opacity: 80%;
}

.icons svg{

    justify-content: center;
    margin: .5em;
    font-size: 3.5em;
    
    
}